@model ChartJS.NET.Charts.Radar.RadarChart

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Radar Chart</h2>

<table>
    <tr>
        <td>
            @Html.BuildChart(Model)
        </td>
    </tr>
</table>

<br/>
<br/>