@model ChartJS.NET.Charts.PolarAreaChart.PolarAreaChart
@{
    ViewBag.Title = "PolarArea Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PolarArea Chart Example</h2>

@Html.BuildChart(Model)