@model ChartJS.NET.Charts.Bar.BarChart
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h2>Bar Chart Example</h2>
</div>
@Html.BuildChart(Model)
