@using ChartJS.NET
@model IEnumerable<ChartJS.NET.Charts.Pie.PieChart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pie Chart Example</h2>

@Html.BuildChart(Model.Select(c1 => c1).FirstOrDefault())
<br />
<br />
<br />
@Html.BuildChart(Model.Select(c2 => c2).Skip(1).FirstOrDefault())
