@model ChartJS.NET.Charts.Bar.BarChart

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger text-uppercase">ChartJS.NET Samples Home</h2>

<table>
    <tr>
        <td>
            @Html.BuildChart(Model)
        </td>
        <td>
            <canvas id="income" width="600" height="400"></canvas>
        </td>
    </tr>
    <tr>
        <td>@Html.ActionLink("View Pie Chart Example", "Index", "PieChart")</td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("View Doughnut Chart Example", "Index", "DoughnutChart")
        </td>
    </tr>
</table>

<br/>
<br/>