@model ChartJS.NET.Charts.Bar.BarChart

@{
    ViewBag.Title = "Home";    
}

<h2 class="text-danger text-uppercase">ChartJS.NET Samples Home</h2>

<table>
    <tr>
        <td>
            @Html.BuildChart(Model)
        </td>
        <td>
            <canvas id="income" width="600" height="400"></canvas>            
        </td>
    </tr>
    <tr>
        <td>@Html.ActionLink("View Pie Chart Example", "Index", "PieChart")</td>
    </tr>
</table>

<br />
<br />
@*<script type="text/javascript">
    // bar chart data
    var barData = {
        labels: ["January", "February", "March", "April", "May", "June"],
        datasets: [
            {
                fillColor: "#48A497",
                strokeColor: "#48A4D1",
                data: [456, 479, 324, 569, 702, 600]
            },
            {
                fillColor: "rgba(73,188,170,0.4)",
                strokeColor: "rgba(72,174,209,0.4)",
                data: [364, 504, 605, 400, 345, 320]
            }
        ]
    }
    // get bar chart canvas
    var income = document.getElementById("income").getContext("2d");

    // define chart options
    var globalChartOptions = JSON.parse('{"animation": false}'); //, "animationSteps": 60, "animationEasing": "easeOutQuart"}');

    var barChartOptions = JSON.parse('{"scaleGridLineColor": "rgba(255,0,255,0.5)", "scaleGridLineWidth": 1}');

    // draw bar chart
    new Chart(income).Bar(barData, barChartOptions);

    // apply global chart settings
    Chart.defaults.global = {
        animation: false,
        animationSteps: 5000,
        tooltipYPadding: 16,
        tooltipCornerRadius: 0,
        tooltipTitleFontStyle: 'normal',
        tooltipFillColor: 'rgba(0,160,0,0.8)',
        animationEasing: 'easeOutBounce',
        scaleLineColor: 'black',
        scaleFontSize: 16
    };
</script>*@

@*@Html.BuildGlobalOptions(new ChartJS.NET.GlobalOptions() { Animate = false })*@